body{
    background-color: rgb(21, 41, 48);
}
h1{
    letter-spacing: 0.5rem;
    /* font-size: 2.5rem; */
    font-size: 25pt;
    line-height: 1.4rem;
    text-align: center;
    color: white;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.slider_img{
    width: 65.8%;
    height: 400px;
    position: absolute;
    left: 53%;
    top: 60%;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    border-radius: 3px;
    box-shadow: 1px 2px 4px 4px  rgb(240, 238, 238);
    animation:slider 9s infinite linear ;
}
.slider_img img{
    height: 400px;
    width: 900px;
}


.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
    transition: 0.6s ease;
  }
  #arrow-left {
    border-width: 20px 30px 20px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 20px;
  }

  #arrow-right {
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 20px;
  }

  /*media query  */
  @media only screen and (max-device-width: 480px){

    h1{
        font-size: 15pt;
      
    }
    .slider_img img{
       width:250px;
       height: 200px;
       
       
    }
    .slider_img{
       width: 250px; 
       height: 200px;
        margin-left: -10px;
        margin-top: -100px; 
    }
  }
  @media only screen and (device-width: 768px) {
    h1{
        font-size: 50pt;
        color: white;
    }

    .slider_img{
        width: 550px; 
        height: 300px;
         margin-left: -30px;
         margin-top: -300px; 

     }
     .slider_img img{
        width:550px;
        height: 300px;
     }
     .arrow{
        margin-top: -200px;
     }
     
 }

 @media only screen and (device-width: 820px){
    .slider_img{
        margin-top: -380px;
        width: 660px;
        height: 300px;
        margin-left: -20px;
    }
    .slider_img img{
        width: 660px;
        height: 300px;
    }
    .arrow{
        margin-top: -300px;
    }
 }
 @media only screen and (device-width: 1024px){
    .slider_img{
        margin-left: -30px;
        width: 800px;
    }
    .slider_img img{
        width: 800px;
    }
    .arrow{
        margin-top: 10px;
    }

 }
 @media only screen and (device-width: 1280px){
    .slider_img{
        width: 1050px;
        height: 500px;
        margin-left: -30px;
        margin-top: -40px;

    }
    .slider_img img{
        width: 1050px;
        height: 500px;
    }
 }